/*font-family: 'Baloo Da 2', cursive;*/
* {
	text-decoration: none;
	list-style: none;
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

button {
	padding: 1%;
}

nav {
	position: fixed;
	top: 0;
	z-index: 10;
}

nav h1 {
	text-align: center;
	background: rgba(256,256,256,1);
}

nav button {
	cursor: pointer;
}

#navUl {
	cursor: pointer;
	display: flex;
	justify-content: space-around;
	color: rgba(256,256,256,1);
	box-shadow: 2px 2px 2px grey;
}

#navUl li {
	font-family: 'Baloo Da 2', cursive;
	font-size: 100%;
	width: 20%;
	text-align: center;
	padding: 1% 0;
	display: flex;
	flex-wrap: wrap;
	background: rgb(0,0,0);
	background: radial-gradient(circle, rgba(57,57,57,1) 0%, rgba(0,0,0,1) 100%);
	border: 1px solid rgba(57,57,57,1);
	padding: 1%;
}

#navUl li span {
	width: 100%;
}

#navUl li hr {
	width: 80%;
	border-top: 1px solid rgba(256,256,256,1);
	height: 0;
	margin: 5% auto;
}

#navButtons {
	width: 100vw;
	text-align: center;
}

#intro {
	width: 80%;
	padding: 2% 10%;
	display: flex;
	flex-wrap: wrap;
}

#introImg {
	width: 50%;
	margin: 1% auto;
}

#introImg img {
	width: 100%;
}

#intro h2 {
	width: 100%;
	text-align: center;
}

#recipeMenu {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.recipeTile {
	width: 30%;
	position: relative;
	cursor: pointer;
}

.recipeTile img {
	width: 100%;
	height: auto;
}

.recipeTile p {
	position: absolute;
	top: 45%;
	background: rgba(256,256,256,0.8);
	width: 100%;
	padding: 2% 0;
	text-align: center;
}

#recipe {
	width: 80%;
	margin: 2% auto;
	border: 1px solid black;
	padding: 2%;
}

#recipe h2 {
	text-align: center;
}

#modFrom {
	width: 80%;
	margin: auto;
}

#serveButton {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

#recipePic {
	display: flex;
	justify-content: center;
	margin: 1%;
}

#recipe img {
	width: 80%;
}

#recipeIng {
	width: 80%;
	margin: 0 auto;
}

#recipeDirect {
	width: 80%;
	margin: 0 auto;
}

.chosen {
	background: white;
	color: black;
}

#enjoy {
	width: 100%;
	text-align: center;
}

#shoppingList {
	width: 80%;
	margin: 5% auto 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#slPlan {
	width: 50%;
	border: 1px solid rgb(0,0,0,1);
	text-align: center;
}

#slList {
	width: 90%;
	margin: 2%;
}

#slList h2 {
	text-align: center;
	margin: 1%;
}

.listCat {
	border: solid black 1px;
	padding: 1%;
	margin: 0 0 1.5%;
}

#weeklyMP>li:nth-child(odd){
	background: rgba(0,0,0,0.1);
}

.hide {
	display: none;
}

.mobileShow {
	display: none;
}

@media only screen and (max-width: 600px) {
  #navUl {
  	flex-wrap: wrap;
  }

  #navUl li {
   	width: 100vw;
  }

  #mobileMenu {
  	width: 100%;
  	height: 30px;
  	margin: 5px 0;
  	text-align: center;
  	background: goldenrod;
  	color: #fff;
  }

  .mobileHide {
	display: none;
  }

  .mobileShow {
  	display: block;
  }

  .recipeTile {
  	width: 100%;
  }
}
