/*font-family: 'Baloo Da 2', cursive;*/
* {
	text-decoration: none;
	list-style: none;
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
}

.hide {
	display: none;
}

nav {
	position: fixed;
	top: 0;
	z-index: 10;
}

nav ul {
	display: flex;
	justify-content: space-around;
	color: rgba(256,256,256,1);
	box-shadow: 2px 2px 2px grey;
}

nav ul li {
	font-family: 'Baloo Da 2', cursive;
	font-size: 100%;
	width: 20%;
	text-align: center;
	padding: 1% 0;
	display: flex;
	flex-wrap: wrap;
	background: rgb(0,0,0);
	background: radial-gradient(circle, rgba(57,57,57,1) 0%, rgba(0,0,0,1) 100%);
	border: 1px solid rgba(57,57,57,1);
	padding: 1%;
}

/*nav ul>li:nth-child(odd){
	background: rgba(50,50,50,1);
}*/

nav ul li span {
	width: 100%;
}

nav ul li hr {
	width: 80%;
	border-top: 1px solid rgba(256,256,256,1);
	height: 0;
	margin: 5% auto;
}

#navButtons {
	width: 100vw;
	text-align: center;
}

#intro {
	width: 80%;
	padding: 2% 10%;
}

.recipeTile {
	width: 25%;
	position: relative;
}

.recipeTile img {
	width: 100%;
}

.recipeTile p {
	position: absolute;
	top: 45%;
	background: rgba(256,256,256,0.8);
	width: 100%;
	padding: 2% 0;
	text-align: center;
}